<div>
  <div >
    <img  class="header" [src]="'https://www.logo.wine/a/logo/H-E-B/H-E-B-Logo.wine.svg'">
  </div>
  <div>
    <div style="text-align-last: center; margin-top: 20px;">
      <button id="voice-input-btn"><i class="fa fa-microphone"></i></button>
      <input type="text" id="text-input"  class="textBox" placeholder="Enter your input product">
      <button id="submit-btn" ><img height="20px" [src]="'assets/search.svg'"></button>
      <div id="answer-box"></div>
      <div id="answer"></div>
    </div>      
  </div>
  <div >
    <img  class="header" style="height: 400px; width: 100%; margin-top: 45px;" [src]="'/assets/HEB2.png'">
  </div>
</div>